extends layout

block content
  script
    | window.initLineGraphData = !{initialLineGraphData}

  .mdl-layout.mdl-js-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header.mdl-color--blue-500.mdl-color-text--white
      .mdl-layout__header-row
        span.mdl-layout-title
          img(src="/images/gf_logo.svg").logo
        .mdl-layout-spacer
        button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--ico
          i.material-icons more_vert
        ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for="hdrbtn")
          li.mdl-menu__item About
          li.mdl-menu__item Contact
          li.mdl-menu__item Legal

    main.mdl-layout__content.mdl-color--grey-100
      .mdl-grid.demo-content

        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white.mdl-card-chart.mdl-card-chart-center
              #gaugeChart.
                  <svg viewBox="0 0 300 300" width="100%" height="100%" aria-label="A chart."
                  style="overflow: hidden;"><defs id="defs"></defs><g><circle
                  cx="149.5" cy="149.5" r="135" stroke="#333333"
                  stroke-width="1" fill="#cccccc"></circle><circle cx="149.5"
                  cy="149.5" r="121" stroke="#e0e0e0" stroke-width="2"
                  fill="#f7f7f7"></circle><path
                  d="M203.11688846952694,45.752236669960936A117,117,0,0,1,265.5595358496311,131.697167590293L236.66965188722332,136.2728756927197A87.75,87.75,0,0,0,189.83766635214522,71.81417750247073Z"
                  stroke="none" stroke-width="0" fill="#ff9900"></path><path
                  d="M265.5595358496311,131.69716759029296A117,117,0,0,1,232.73149339882605,232.73149339882605L212.04862004911962,212.04862004911948A87.75,87.75,0,0,0,236.66965188722332,136.27287569271974Z"
                  stroke="none" stroke-width="0" fill="#dc3912"></path><text
                  text-anchor="middle" x="150" y="119.5" font-family="arial"
                  font-size="30" stroke="none" stroke-width="0"
                  fill="#333333">GPM</text><text text-anchor="start" x="89.47165953043154" y="216.12834046956849" font-family="arial" font-size="16" stroke="none" stroke-width="0" fill="#333333">0</text><text text-anchor="end" x="210.52834046956855" y="216.1283404695684" font-family="arial" font-size="16" stroke="none" stroke-width="0" fill="#333333">100</text><path d="M60.21699069351409,205.0190988645894L50.24110077057122,211.13233207176603M49.85374883412034,182.53948950768196L38.72638759346704,186.15498834186886M45.02460475790163,158.26174278014207L33.36067195322403,159.17971420015786M45.996417735332,133.5274508312637L34.44046415036888,131.69716759029302M64.81051049231803,88.10621293360259L55.34501165813114,81.22912548178066M81.61312051083162,69.92925182231679L74.01457834536846,61.032502024796415M102.19480037742571,56.17701300296487L96.883111530473,45.752236669960965M125.4182031859732,47.60944738212466L122.6868924288591,36.23271931347183M174.58179681402677,47.60944738212464L177.31310757114085,36.23271931347182M197.80519962257426,56.177013002964856L203.11688846952694,45.752236669960936M218.38687948916836,69.92925182231676L225.98542165463152,61.0325020247964M235.18948950768194,88.10621293360256L244.65498834186883,81.22912548178061M254.003582264668,133.52745083126365L265.5595358496311,131.69716759029296M254.9753952420984,158.261742780142L266.639328046776,159.17971420015778M250.14625116587968,182.53948950768194L261.27361240653295,186.15498834186883M239.78300930648595,205.01909886458935L249.75889922942883,211.13233207176594" stroke="#666666" stroke-width="1" fill-opacity="1" fill="none"></path><path d="M83.81480528093915,216.18519471906086L67.26850660117395,232.73149339882605M63.52487575694353,114.18083073062765L41.90609469617942,105.22603841328456M149.99999999999997,56.39999999999999L149.99999999999997,33M236.47512424305646,114.1808307306276L258.0939053038206,105.22603841328453M216.18519471906092,216.18519471906077L232.73149339882616,232.73149339882596" stroke="#333333" stroke-width="2" fill-opacity="1" fill="none"></path><g><text id="gpmText" text-anchor="middle" x="150" y="248.5" font-family="arial" font-size="30" stroke="none" stroke-width="0" fill="#000000">0</text>

                  <path id="needle" d="M71.51114728829323,228.48885271170678C144.20879546208218,144.20879546208218,171.85313507257024,122.35566038951193,174.74873734152916,125.25126265847084C177.6443396104881,128.14686492742976,155.79120453791782,155.79120453791782,71.51114728829323,228.48885271170678" stroke="#c63310" stroke-width="1" fill-opacity="0.7" fill="#dc3912"></path>

                  <circle cx="149.5" cy="149.5" r="18" stroke="#666666" stroke-width="1" fill="#4684ee"></circle></g></g></svg>

            .mdl-card__supporting-text.mdl-color-text--grey-600 Gallons Per Minute

        .mdl-cell.mdl-cell--8-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
            .mdl-card--expand.mdl-color--white.mdl-card-chart.chart-container
              canvas#lineChart()
            .mdl-card__supporting-text.mdl-color-text--grey-600 Inlet Flow

        .mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white
              .mdl-card-center-container
                span#ph.superh1 -
                span.mdl-card-icon.super2 pH
            .mdl-card__supporting-text.mdl-color-text--grey-600 pH Sensor Data
              img(src="/images/icons/ic_info_black_24px.svg")#info.mdl-card-icon
        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white
              .mdl-card-center-container
                span#temp.superh1 -
                span.mdl-card-icon.super2 C
            .mdl-card__supporting-text.mdl-color-text--grey-600 Temperature
        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white
              .mdl-card-center-container
                span#mv.superh1 -
                span.mdl-card-icon.super2 mV
            .mdl-card__supporting-text.mdl-color-text--grey-600 Millivolts

    .popup.centered
      span.ok-reply.centered
      h4 Additonal Information
      p Sensor Model Number (MOD): 2726-01
      p Sensor Location: pH Neutralization Tank
      p Install Information: Total Usage Time (HRS) 15
      p Last Calibration: January 8, 2015
      .button.ok.transition.active OK
